<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @meeting, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group">
        <%= f.label :name, '交流会名' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :place, '場所' %>
        <%= f.text_field :place, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :start_from, '開始日時' %>
        <%= f.datetime_select :start_from, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :content, '詳細' %>
        <%= f.text_area :content, class: 'form-control' %>
      </div>

      <%= f.submit '変更する', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>