<div class="row">
  <div class="col-sm-12">
    <h1>交流会詳細</h1>
    <div>
      <p>開催者: <%= @meeting.user.name %> </p>
      <p>交流会名: <%= @meeting.name %> </p>
      <p>場所: <%= @meeting.place %> </p>
      <p>開始日時: <%= @meeting.start_from %> </p>
      <p>詳細: <%= safe_join(@meeting.content.split("\n"),tag(:br)) %> </p>
    </div>
    <div>
      <%= link_to '一覧に戻る', root_path %>
    </div>
    <div>
      <% unless current_user == @meeting.user %>
        <%= render 'participations/hope_button', meeting: @meeting %>
      <% end %>
    </div>
  </div>
</div>