<div class="row card">
  <div class="col-sm-12">
    <ul class="nav nav-tabs nav-justified mb-4">
      <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link">ユーザプロフィール</a></li>
      <li class="nav-item"><a href="<%= meetings_user_path(@user) %>" class="nav-link">開催交流会</a></li>
      <li class="nav-item"><a href="<%= participating_meetings_user_path(@user) %>" class="nav-link">参加交流会</a></li>
    </ul>
    <div>
      <% if current_user == @user %>
          <%= link_to '交流会登録', new_meeting_path, class: 'btn btn-lg btn-primary btn-block' %>
      <% end %>
    </div>
    <div>
      <%= render 'meetings/meetings', meetings: @meetings %>
    </div>
  </div>
</div>